body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
  line-height: 1.5;
  letter-spacing: 2%;
  font-weight: 400;
}
h1 {
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
}

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}
